{
  "region": [
    {
      "replicaInfo": [
        {
          "id": "1",
          "ip": "172.31.77.218",
          "port": 37001
        },
        {
          "id": "2",
          "ip": "172.31.71.200",
          "port": 37002
        },
        {
          "id": "3",
          "ip": "172.31.79.4",
          "port": 37003
        },
        {
          "id": "4",
          "ip": "172.31.64.150",
          "port": 37004
        }
      ],
      "regionId": 1,
      "instance": 1
    }
  ],
  "selfRegionId": 1
}