{
  "region": [
    {
      "replicaInfo": [
        {
          "id": "1",
          "ip": "172.31.77.218",
          "port": 37001
        },
        {
          "id": "2",
          "ip": "172.31.71.200",
          "port": 37002
        },
        {
          "id": "3",
          "ip": "172.31.79.4",
          "port": 37003
        },
        {
          "id": "4",
          "ip": "172.31.64.150",
          "port": 37004
        },
        {
          "id": "5",
          "ip": "172.31.77.103",
          "port": 37005
        },
        {
          "id": "6",
          "ip": "172.31.74.31",
          "port": 37006
        },
        {
          "id": "7",
          "ip": "172.31.71.31",
          "port": 37007
        },
        {
          "id": "8",
          "ip": "172.31.65.27",
          "port": 37008
        },
        {
          "id": "9",
          "ip": "172.31.64.30",
          "port": 37009
        },
        {
          "id": "10",
          "ip": "172.31.70.138",
          "port": 37010
        },
        {
          "id": "11",
          "ip": "172.31.76.207",
          "port": 37011
        },
        {
          "id": "12",
          "ip": "172.31.67.198",
          "port": 37012
        },
        {
          "id": "13",
          "ip": "172.31.70.199",
          "port": 37013
        },
        {
          "id": "14",
          "ip": "172.31.64.216",
          "port": 37014
        },
        {
          "id": "15",
          "ip": "172.31.77.91",
          "port": 37015
        },
        {
          "id": "16",
          "ip": "172.31.66.144",
          "port": 37016
        }
      ],
      "regionId": 1
    }
  ],
  "selfRegionId": 1,
  "instance": 1
}